@font-face {
    font-family: 'ccd-icon_font';
    src: url(./ccd-icon_font.eot?10385145);
    src: url(./ccd-icon_font.eot?10385145#iefix) format('embedded-opentype'),
         url(./ccd-icon_font.woff2?10385145) format('woff2'),
         url(./ccd-icon_font.woff?10385145) format('woff'),
         url(./ccd-icon_font.ttf?10385145) format('truetype'),
         url(./ccd-icon_font.svg?10385145#ccd-icon_font) format('svg');
    font-weight: normal;
    font-style: normal;
  }
  /* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
  /* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
  /*
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
      font-family: 'ccd-icon_font';
      src: url('../font/ccd-icon_font.svg?10385145#ccd-icon_font') format('svg');
    }
  }
  */
  [class^="ccd-icon-"]:before, [class*=" ccd-icon-"]:before {
    font-family: "ccd-icon_font";
    font-style: normal;
    font-weight: normal;
    speak: never;
  
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
  
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
  
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
  
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
  
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
  
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
  }
  
  .ccd .ccd-icon-instagram:before { content: '\e800'; } /* '' */
  .ccd .ccd-icon-twitter:before { content: '\e801'; } /* '' */
  .ccd .ccd-icon-youtube:before { content: '\e802'; } /* '' */
  .ccd .ccd-icon-facebook:before { content: '\e803'; } /* '' */
  