
  .ccd-container {
    max-width: $containerMaxWidth;
    margin: auto;
    padding: 0 1rem;

  }
  .ccd-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;

    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    flex: auto;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;

    // Con padding
    @for $i from 1 through $columns {
      @include col($i, 'default', 'null', $columns, 'false', 'false', 'default', '');
    }


    // sin padding
    @for $i from 1 through $columns {
      @include col($i, 'default', 'null', $columns, 'true', 'false', 'default', '');
    }
  }
  .ccd-col-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: auto;
    width: auto;
    max-width: none;
    padding-right: 1rem;
    padding-left: 1rem;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
  }
  .ccd-col-auto-np {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: auto;
    width: auto;
    max-width: none;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
  }




  @media screen and (#{max-width}: $bp-md) {
    .ccd-row {

        // Con padding
    @for $i from 1 through $columns {
      @include col($i, $bp-md, 'null', $columns, 'false', 'false', !important, 'md' );
    }


    // sin padding
    @for $i from 1 through $columns {
      @include col($i, $bp-md, 'null', $columns, 'true', 'false', !important, 'md');
    }
    }

  }

  @media screen and (#{max-width}:$bp-sm) {
    .ccd-row {

            // Con padding
    @for $i from 1 through $columns {
      @include col($i,$bp-sm, 'null', $columns, 'false', 'false', !important, 'sm');
    }


    // sin padding
    @for $i from 1 through $columns {
      @include col($i,$bp-sm, 'null', $columns, 'true', 'false', !important, 'sm');
    }
    }

  }

  @media screen and (#{max-width}: $bp-xs) {
    .ccd-row {

                // Con padding
    @for $i from 1 through $columns {
      @include col($i, $bp-xs, 'null', $columns, 'false', 'false', !important, 'xs');
    }


    // sin padding
    @for $i from 1 through $columns {
      @include col($i, $bp-xs, 'null', $columns, 'true', 'false', !important, 'xs');
    }
    }

  }



