.ccd{	.ccd-header {
		display: flex;
		justify-content: center;
		flex-flow: column;
		position: relative;

		

		.ccd-header-logo {
			width: 100%;
			display: flex;
			height: $headerHeight;
			padding: 0;
			justify-content: center;
			cursor: pointer;

			img {
				width: 150px;
				height: auto;
			}
		}

		nav {
			height: 75px;
			margin-top: 1rem;

			.ccd-header-responsive-btn{
				display: none;
				cursor: pointer;
		
				.is-closed{
					display: flex;
		
				}
				.is-open{
					display: none;
				}
		
				.is-closed, .is-open {
					width: 20px;
					height: 20px;
					
					img{
						width: 100%;
						height: auto;
					}
				}
		
		
			}

			ul {
				padding-right: 25px;
				height: 52px;

				vertical-align: middle;
				display: flex;
				justify-content: center;

				list-style-type: none;
				margin-block-start: 0;
				margin-block-end: 0;
				margin-inline-start: 0;
				margin-inline-end: 0px;
				padding-inline-start: 0;

				li {
					border-top: 1px solid #fff;

					display: flex;
					padding: 10px;
					justify-content: center;
					position: relative;
					flex-direction: column;
					vertical-align: middle;
				
					transition: all 0.3s ease 0s;
					-webkit-transition: all 0.3s ease 0s;

					a {
						letter-spacing: 1px;
						font-size: 1.1rem;
					}

					&::after {
						content: '';
						border-bottom: 1px solid rgba(255, 255, 255, 0);
						position: absolute;
						bottom: 45%;
						width: 100%;
						left: 0;

						transition: all 0.3s ease 0s;
						-webkit-transition: all 0.3s ease 0s;
					}

					&:hover {
						&::after {
							border-bottom: 1px solid rgba(255, 255, 255, 1);
							bottom: 28%;
							width: 90%;
							left: 5%;
						}
					}
				}
			}
		}


		// on scroll
		&.scroll-nav {
			background-color: $black;
			position: fixed;
			top: 0;
			width: 100%;
			height: $headerHeight;
			color: white;
			z-index: 9999;
			display: none;
			margin-top: 46px;
			flex-flow: row;
			justify-content: space-between;

			.ccd-header-logo {
				width: 170px;
				display: flex;
				height: $headerHeight;
				padding: 5px 5px 5px 20%;
				justify-content: center;
		
				img {
					width: auto;
					height: auto;
				}
			}	
			
			nav {
				height: auto;
				margin-top: 0;
				ul {
					justify-content: end;
					height: 75px;

					li{
						border-top: 1px solid transparent;
					}
				}
			}
		}
	}


	@media (max-width: 1200px) {
		.ccd-header {
			nav{
				ul{
					li{
						a{
							letter-spacing: .9px;
							font-size: .9rem;
						}
					}
				}
			}
		}
	}


	@media (max-width: 980px) {
		.ccd-header {
			flex-flow: row;
			justify-content: space-between;
			background-color: $black;

			&.open{
				nav{
					.ccd-header-responsive-btn{
				
						.is-closed{
							display: none;
				
						}
						.is-open{
							display: flex;
						}		
				
					}

					ul{
						display: flex;
						opacity: 1;
						min-height: 100vh;
						top: $headerHeight;
						padding-top: 2rem;
						z-index: 999;

						li{
							padding: 15px;
							&::after {
								content: none !important;
								
							}
							&:hover{
								a{
									opacity: .8;
								}
							}
							a{
								&:after{
									content: '';
									border-bottom: 1px solid rgba(255,255,255,0);
									position: absolute;
									bottom: 45%;
									width: 100%;
									left: 0;
									transition: all 0.3s ease 0s;
									-webkit-transition: all 0.3s ease 0s;
								}
								
							}
						}
					}
				}
				
			}

			.ccd-header-logo{
				width: 170px;
				display: flex;
				height: $headerHeight;
				padding: 5px 5px 5px 20%;
				justify-content: center;
			}

			nav{
				height: 75px;
				margin-top: 0;
				display: flex;
				justify-content: center;
				flex-flow: column;
				flex-basis: 60px;
				

				.ccd-header-responsive-btn{
					display: flex;
					padding: 5px 20% 5px 5px;
				}

				ul{
					display: none;
					opacity: 0;
					background-color: $black;
					position: absolute;
					right: 0;
					left: 0;
					top: -100vh;
					flex-flow: column;
					justify-content: flex-start!important;

					li{
						text-align: center;
						a{
							letter-spacing: 1.5px;
							font-size: 1.5rem;
							
						}
					}
				}
			}

			
		}
	}}