
*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
	--black: #000;
	--red: #f15e5b;
	--blue: blue;
	--lightBlue: #6da8ff;
	--purple: #ba50c1;
	--yellow: #ffc800;
	--purple: #6b00ff;
	--aqua: #58c2bb;
	--violet: #9487a6;
	--pink: #ef549e;
}

html {
  font-size: 12px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}
@-ms-viewport {
  width: device-width;
}
body {
  margin: 0;
  padding: 0;
  font-family: pill-gothic-300mg, sans-serif;
  font-weight: 400;
  font-style: normal;
}
.ccd{
  :focus {
    outline: -webkit-focus-ring-color auto 0px;
  }
  img {
    vertical-align: middle;
    border-style: none;
  }
  button:focus {
    outline: 0 dotted;
    outline: 0 auto -webkit-focus-ring-color;
  }
  table {
    border-collapse: collapse;
  }
  svg:not(:root) {
    overflow: hidden;
  }
  article,
  aside,
  dialog,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  main,
  nav,
  section {
    display: block;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }

  p {
    margin-top: 0;
    margin-bottom: 0;
  }

  a {
    text-decoration: none;
    color:white;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    &:focus,
    &:visited {
      text-decoration: none;
    }

    &:hover {
      text-decoration: none;
    }

    &:not([href]):not([tabindex]) {
      color: inherit;
      text-decoration: none;
    }

    &:not([href]):not([tabindex]):hover,
    &:not([href]):not([tabindex]):focus {
      color: inherit;
      text-decoration: none;
    }

    &:not([href]):not([tabindex]):focus {
      outline: 0;
    }
  }

  @include headers(
    $base-font-size
    );

    h1 {
      font-size: 2.9rem;
      line-height: 2.9rem;
    }
    h2 {
      font-size: 2.4rem;
      line-height: 2.4rem;
    }
    h3 {
      font-size: 1.9rem;
      line-height: 1.9rem;
    }
    h4 {
      font-size: 1.4rem;
      line-height: 1.9rem;
    }
    h5 {
      font-size: 0.9rem;
      line-height: 0.9rem;
    }
    h6 {
      font-size: 0.4rem;
      line-height: 0.4rem;
    }
}

}
