.ccd {
	.ccd-cultura-logo {
		background-image: url('./images/logo_Cultura.svg');
		background-repeat: no-repeat;
		width: 200px;
		height: 100px;
		background-size: contain;
	}

	.ccd-libre-accesos-blanco {
		background-image: url('./images/libre_acceso_blanco.png');
		background-repeat: no-repeat;
		width: 100px;
		height: 100px;
		background-size: contain;
	}

	.ccd-libre-accesos-azul {
		background-image: url('./images/libre_acceso_azul.png');
		background-repeat: no-repeat;
		width: 100px;
		height: 100px;
		background-size: contain;
	}
}
