/// UTILS

// Grid Columns

@mixin col(
  $number,
  $breakpoint,
  $prefix,
  $columns,
  $padding,
  $webkit,
  $important,
  $size
) {
  $sz: unquote(if($size != '', '-#{$size}', ''));
  $np: unquote(if($padding != 'true', '', '-np'));
  $pfx: unquote(if($prefix == 'null', '', '-#{$prefix}'));
  $imp: unquote(if($breakpoint != 'default', '#{$important}', ''));
  $wk: unquote(if($webkit == 'true', 'show', 'hidden'));

  .ccd-col-#{$number}#{$sz}#{$np} {
    width: #{100% / ($columns / $number)};
    height: auto;
    position: relative;
    text-align: left;
    vertical-align: top;
    display: inline-block;
    @if $wk == 'show' {
      -webkit-margin-start: -1.5px;
      -webkit-margin-end: -1.5px;
    } @else {
      -webkit-margin-start: 0;
      -webkit-margin-end: 0;
    }

    @if $np != '-np' {
      padding-right: 1rem;
      padding-left: 1rem;
    }@else{
      padding-right: 0;
      padding-left: 0;
    }
  }
}




@mixin headers($baseFont) {

  $heading-scale: .5; // amount of px headings grow from h6 to h1

  @for $i from 1 through 6 {
    h#{$i} {
      font-family: pill-gothic-600mg, sans-serif;
      font-style: normal;
      font-weight: 600;
    } 
  }

  
}