/// Layout
$base-font-size: .9rem;
$headerHeight: 75px;

$containerMaxWidth: 1250px;
$bp-mobile: 320px;
$bp-xs: 576px;
$bp-sm: 768px;
$bp-md: 1010px;
$bp-extraLarge: 1900px;


// Max number of columns
$columns: 12 !default;


/// Colors

$black: #000;
$red: #f15e5b;
$blue: blue;
$lightBlue:#6da8ff;
$lightPurple: #ba50c1;
$yellow: #ffc800;
$purple: #6b00ff;
$aqua: #58c2bb;
$violet: #9487a6;
$pink: #ef549e;


:root{
  --black: #000;
  --red: #f15e5b;
  --blue: blue;
  --lightBlue: #6da8ff;
  --lightPurple:#ba50c1;
  --yellow: #ffc800;
  --purple: #6b00ff;
  --aqua: #58c2bb;
  --violet: #9487a6;
  --pink: #ef549e;
}
